@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #6bc06b !important;
}
.bg-success {
  background-color: #c1c1c1 !important;
}
.bg-info {
  background-color: #cccccc !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #393939 !important;
}
.btn-primary {
  background-color: #6bc06b;
  border-color: #6bc06b;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #429c42;
  border-color: #429c42;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #429c42 !important;
  border-color: #429c42 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-success {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-danger {
  background-color: #393939;
  border-color: #393939;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #131313;
  border-color: #131313;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #131313 !important;
  border-color: #131313 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #3b8a3b;
  color: #3b8a3b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #6bc06b;
  border-color: #6bc06b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6bc06b !important;
  border-color: #6bc06b !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-success-outline {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline {
  background: none;
  border-color: #060606;
  color: #060606;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #393939;
  border-color: #393939;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #393939 !important;
  border-color: #393939 !important;
}
.text-primary {
  color: #6bc06b !important;
}
.text-success {
  color: #c1c1c1 !important;
}
.text-info {
  color: #cccccc !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #393939 !important;
}
.alert-success {
  background-color: #c1c1c1;
}
.alert-info {
  background-color: #cccccc;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #393939;
}
.btn-social {
  border-color: #6bc06b;
}
.btn-social:hover {
  background: #6bc06b;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #6bc06b;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #6bc06b;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #6bc06b;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #6bc06b;
}
.lead a,
.lead a:hover {
  color: #6bc06b;
}
.lead blockquote {
  border-color: #6bc06b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c4e6c4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #acacac;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #6bc06b;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
  font-size: 46px;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-6 .link {
  font-size: 1.1rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #6bc06b;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #060606;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #181818!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #202020;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #6bc06b;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #6bc06b!important;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#menu-6 .btn {
  font-size: 36px;
}
#content5-i .mbr-section-title,
#content5-i p {
  color: #fff;
}
#content5-i .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#content5-i P {
  text-align: center;
}
#header1-14 .mbr-section-title {
  font-size: 72px;
}
#form1-n .form-control-label {
  color: #232323;
}
#social-buttons3-o .mbr-section-title,
#social-buttons3-o .btn-social {
  color: #fff;
}
#social-buttons4-p .mbr-section-title,
#social-buttons4-p .btn-social {
  color: #fff;
}
#social-buttons4-p .mbr-section-title {
  text-align: center;
}

#menu-a .hide-buttons .nav-btn {
  display: none !important;
}
#menu-a .navbar-caption {
  color: #ffffff;
  font-size: 46px;
}
#menu-a .navbar-toggler {
  color: #ffffff;
}
#menu-a .link,
#menu-a .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-a .link {
  font-size: 1.1rem;
}
#menu-a .dropdown-item,
#menu-a .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-a .link:hover,
#menu-a .dropdown-item:hover,
#menu-a .link:focus,
#menu-a .dropdown-item:focus {
  color: #6bc06b;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-menu {
  background: #060606;
}
#menu-a .nav-dropdown-sm .link:focus,
#menu-a .nav-dropdown-sm .link:hover,
#menu-a .nav-dropdown-sm .dropdown-item:focus,
#menu-a .nav-dropdown-sm .dropdown-item:hover {
  background: #181818!important;
}
#menu-a .navbar,
#menu-a .nav-dropdown-sm,
#menu-a .nav-dropdown-sm .link[aria-expanded="true"],
#menu-a .nav-dropdown-sm .dropdown-menu {
  background: #202020;
}
#menu-a .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-a .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-a .bg-color.transparent.opened .link:hover,
#menu-a .bg-color.transparent.opened .link:focus {
  color: #6bc06b;
}
#menu-a .link[aria-expanded="true"],
#menu-a .dropdown-item[aria-expanded="true"] {
  color: #6bc06b!important;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-a .close-icon::before,
#menu-a .close-icon::after {
  background-color: #ffffff;
}
#menu-a .btn {
  font-size: 36px;
}
#msg-box8-e .mbr-section-title,
#msg-box8-e p {
  color: #fff;
}
#msg-box1-15 H3 {
  color: #ffffff;
}
#msg-box1-16 H3 {
  color: #ffffff;
}
#form1-v .form-control-label {
  color: #232323;
}
#social-buttons3-r .mbr-section-title,
#social-buttons3-r .btn-social {
  color: #fff;
}
#social-buttons4-s .mbr-section-title,
#social-buttons4-s .btn-social {
  color: #fff;
}

#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 46px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .link {
  font-size: 1.1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #6bc06b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #060606;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #181818!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #202020;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #6bc06b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #6bc06b!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .btn {
  font-size: 36px;
}
#buttons1-z .btn {
  font-size: 24px;
}
#content5-2 .mbr-section-title,
#content5-2 p {
  color: #fff;
}
#content5-2 .mbr-section-title {
  color: #232323;
  text-align: center;
}
#content5-2 P {
  color: #232323;
}
#testimonials2-0 .card-footer > small {
  color: #000000;
  text-align: left;
}
#testimonials2-0 .card-footer > div {
  text-align: left;
}
#testimonials2-0 .mbr-section-title {
  color: #232323;
}
#testimonials2-0 .card-block P {
  color: #565656;
}
#social-buttons3-x .mbr-section-title,
#social-buttons3-x .btn-social {
  color: #fff;
}
#social-buttons4-w .mbr-section-title,
#social-buttons4-w .btn-social {
  color: #fff;
}

#header1-10 .btn {
  font-size: 60px;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 46px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-0 .link {
  font-size: 1.1rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 1.191rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #6bc06b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #060606;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #181818!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #202020;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #6bc06b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #6bc06b!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .btn {
  font-size: 36px;
}
