@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Josefin Slab', serif;*/
.mbr-table-cell{
	height: 100%;
}
.logo{
	display: block;
	position: relative;
	top:-1em;
	left:9em;
	z-index: 1;
	background-color: #6bc06d;
	width: 15em;
	padding: 9em 0.5em 1em 0.5em;
	border-radius: 1em;
	box-shadow:  9px 13px 50px 5px rgba(0,0,0,0.53);
	margin-top: -1em;

}
.logo img{
	display: block;
	width: 8em;
	padding: 0;
	margin: 0 auto;

}

.top-link{
	font-family: 'Open Sans Condensed', sans-serif;
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 1;
	/*cursor: pointer;*/
}
.top-link a{
	color: white;
	text-decoration: inherit;
	font-size: inherit;
}

.top-link a:hover{
	color:#6bc06d;
}
.top-link a i{
	position: relative;
	left:-2.5%;
	top:-5%;
}
.bubble{

	display:  block;
	width: 20em;
	height: 20em;

 border-radius: 50%;
 box-shadow:   inset 7px 9px 19px -10px rgba(0,0,0,0.59);
 align-items: center;
 vertical-align: middle;
 padding: 0;
	overflow: hidden;
	margin: auto;
}
.bubble a{
	color: white;
	text-decoration: none;
	font-size: 10em;
	width: 100%;
	height: 100%;
	margin: auto;

}
.bubble a i{
	width: 100%;
	height: 100%;
	margin: auto;
	line-height: 2em;
}
.bubble a img{
	display: none;
	height: 100%;
 	width:100%;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*align-items: center;*/
	/*align-content: center;*/
	/*justify-content: center;*/
}
.flex-group{
	/*width: 48%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;*/
	/*border: 1px solid white;*/
	border-radius: 20px;
	padding:10px;
	margin: 5px;
	box-shadow: 0px 0px 10px black;
}

h1{
	font-family: 'Audiowide', sans-serif;
	position: relative;
	font-size: 1.5rem;
	color: white;
	word-break: keep-all;
	font-size-adjust: auto;
	font-weight: 600;
text-shadow: 0px 0px 2px black;
	transition: all 0.1s;

	text-align: center;
}
a h1:hover{
	position: relative;
	transform: scale(1.02);
	/*top:-2px;*/
	/*left:-1px;*/
	color:#6bc06d;
	text-shadow: 0px 0px 10px black;

}
.socicon{
font-family: 'Open Sans Condensed', sans-serif;
	color:white;
}
.fa{
	color:white;
}
.fa:hover{
	color: white;
}
.follow{
	position:fixed;
	bottom:0;
	right:1em;
}
.follow a i{
	position: relative;
	left:-2.5%;
	top:-5%;
}
.subscribe-box{
	position:fixed;
	bottom:0;
	width: 100%;
	z-index: 100;
	display: none;
	height: 30%;
}
.input-group-btn{
	width: unset;
}
.mbr-subscribe{
	top:2em;
	height: 10em;
	width: 100%;
}
.mbr-subscribe .form-control{
	border: 1px solid #e8e8e8;
	margin:1em;
}
.x-button{
	cursor: pointer;
	position: absolute;
	right:0.5em;
	top:0.5em;
	z-index: 100;
}
.x-button:hover{
	color: #6bc06d;
}
.writing{
	/*width: 75%;*/
	text-align: center;
	margin: 0 auto;
}
.writing p{
	color: darkgray;
	font-family: 'Open Sans Condensed', sans-serif;
}
@media only screen and (min-width: 1200px)
{
	/*.logo{
		position: absolute;
	}*/
}
@media only screen and (max-width: 770px){
	body{
		overflow: hidden;
	}
	.logo{
		width: 60%;
		display: block;
		position: absolute;
		left:-1.5em;
		top: 1em;
		padding: 1em;
		margin: 0.5em;
		margin-top: 0;
	}
	.logo:after{

	}
	.logo img{
		margin:0 auto 0 auto;
		width: 5em;
	}
	.flex-container{
		flex-direction: column;

		width: 100%;
	}
	.flex-group{
		width:100%;
		flex-direction: row;
		justify-content: center;
		height: auto;
	}
	.flex-item{
 		align-content: center;
		width: 100%;
	}
	.product-group{
		flex-direction: row;
		width: 100%;

	}
	.bubble{
		display: none;
	}
	.bubble img{
		margin:auto;
	}
	.mbr-table-cell{
		padding-top: 0;
	}
	.shrink-btn{
		border:0.1em solid black;
		width:90%;
		box-shadow: 0.25em 0.25em 1em black;
		transition: all 2s;
	}
	.shrink-btn:active{
		box-shadow: inset 0.25em 0.25em 1em black;
	}
	.subscribe-box{
		height: 100%;
	}
	.input-group-btn{
		width: unset;
	}
	.mbr-subscribe{
		top:2em;
		height: 10em;
	}
	.mbr-subscribe .form-control{
		border: 1px solid #e8e8e8;
		margin:1em;
	}
}
@media only screen and (max-width: 600px)
{
	.logo{
		min-width:8em;
		position:static;
		width: 90%;

		margin: 0 auto 0 auto;
	}
	.logo img{
		margin: 0 auto;
		/*width:5em;*/
	}
}
